.question-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .question-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .question-container li {  
    display: flex;
   
  }
  
  .score-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em auto;
  }
  
  .score-container h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .quiz-cont{
      background-color:rgb(204, 177, 204);     
      display: table;
    
      
  }
  
  .quiz-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .question-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 20px; /* Gap between grid items */
  }
  
  .question-container {
    border: 1px solid #a32727;
    padding: 10px;
  }
  
  .question-container h3 {
    margin-bottom: 10px;
  }
  
  .question-container ul {
    list-style: none;
    padding: 0;
  }
  
  .question-container li {
    margin-bottom: 5px;
  }
  
  .score-container {
    margin-top: 20px;
  }
  